

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
p {
  margin: 0
}

.today{
  color: #6c757d
}


/****************** style for nav*********************/
*,*:before,*:after {
	box-sizing: border-box;
}

body {
 
  color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
  line-height:1.4;
  overflow: hidden;
  background: #e1e1e1;
}
/*****style for current date *****/
.current-date{
  width: 150px;
  height: 150px;
  max-width: 100%;
  float: right;
	position: fixed;
	top: 5px;
  right: 9px;
  border-radius: 50%;
  background: #d7a360;
  color: #ffffff;
  text-align: center;
  line-height: 150px;
  font-size: 17px;
}

/**********/

#right-nav {
  float: right;
	position: fixed;
	top: 20%;
  right: 9px;
	background: transparent;
  overflow: hidden;
  z-index: 10;
}

#right-nav ul {
	text-align: center;
}

#right-nav ul li {
	position: relative;
  width: 100px;
  list-style: none;
	background: #d7a360;
	text-transform: uppercase;
  transition:all .4s ease-out;
	margin-top: 5px;
  border-radius: 3px;
  cursor: pointer;
}

#right-nav ul li:after {
	position: absolute;
	background: #6c757d;
	color: #ffffff;
	top:0;
	left: 70px;
	width: 100px; height: 100%;
  opacity:.5;
  transform: perspective(400px) rotateY(90deg);
	transform-origin: 0 100%;
	transition:all .4s ease-out;
  border-radius: 3px;
 
  font-weight: bold
}

#right-nav ul li:nth-child(1):after { 
	content: "Bathroom";
	line-height: 88px;
}
#right-nav ul li:nth-child(2):after { 
	content: "restaurant";
  line-height: 88px;
 
}
#right-nav ul li:nth-child(3):after { 
	content: "clinic";
	line-height: 85px;
}
nav ul li:nth-child(4):after { 
	content: "setting";
  line-height: 70px;
  
}

#right-nav ul li:hover {
	transform: translateX(-70px);
}

#right-nav ul li:hover:after {
  opacity: 1;
	transform: perspective(400px) rotateY(0deg) scale(1) ;
}


#right-nav ul li > div {
	display: inline-block;
	padding: 25px 0;
	background: transparent;
}

#right-nav ul li div { position: relative; }

/**********/


.sidebarMenu {
  max-height: 100%;
  height: 558px;
  position: fixed;
  left: 0;
  width: 400px;
  max-width: 500px;
  overflow-y: scroll;
  margin-top: 0px;
  transform: translateX(-350px);
  transition: transform 250ms ease-in-out;
  background: #6c757d;
  border-radius: 0 5px 5px 0px;
  z-index: 12;
  opacity: .9;
}
.show {
  transform: translateX(0);
}
.build-name {
  padding-top: 20px;
  text-align: center
}
.sidebarMenuInner{
  margin:0;
  padding:0;
  border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
  list-style: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 3px 5px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
  display: flex
}
.sidebarMenuInner li .name{
  max-width: 70%;
  width: 100%;
  font-size: 20px;
  color: #000;
  padding: 8px;
  border-radius: 3px 0 0 3px;
  text-align: center;
  font-size: 16px;
  text-align: center

}

.sidebarMenuInner li .info-btns {
  width: 30%;
  display: flex;
  justify-content: space-around;
  padding: 5px;
  border-radius: 0 3px 3px 0;
  border-left:2px solid #FC466B;
  background: #ffffff
}
.sidebarMenuInner li .info-btns i {
  color: #D7A360;

}
.info-btns .info {
  display: none;
}

/******** style for info-modal *************/
 .modal-dialog{
  max-width: 70%;
  height: 50%;
  color: #000
}
.modal-footer {
  justify-content: space-between;
}

.room-contain {
  
  position: relative;
  border: 1px solid #e6e0e0;
}
.room-contain .room-name {
  color: #fff;
  background: #FC466B;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  width: 30%;
  border-radius:  0 20px 20px 0;
  margin-top: 10px
}
.room-contain .room-info {
  width:50%;
  margin: 0 auto;
}
.room-contain .room-info address {
  color: #000;
  text-transform: capitalize;
  padding: 0 10px;
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold
 
 
}
.room-info .info-text {
  text-align: justify;
  
}
.events-contain  .events-title {
  padding: 10px;
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
 
  background: #FC466B;
  max-width: 100%;
  width: 110px;
  /*! margin: 0 auto; */
  text-align: center;
  margin-bottom: 10px;
  border-radius: 0 15px 15px 0px;
}

.room-contain .events-contain .events {
  width: 100%;
overflow: hidden;
 height: auto;
 max-height: 100%;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-evenly;
 overflow: scroll;
 
}

.events .event{
  width: 400px;
  height: auto;
  max-height: 100%;
  margin: 5px;
  box-shadow: 1px 1px 6px 1px #888888;
}
.event .top-event {
  display: flex;
 justify-content: space-between;
 padding: 0 5px

}
.event .card-header {
  text-transform: capitalize;
  padding-left: 5px;
}
.event .event-date {
 
  position: absolute;
right: 4px;
top: 52px;
padding-bottom: 10px;
color: goldenrod;
}
.event .speakers {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  cursor: pointer;
  margin: 0;
}
.speakers .speaker {
max-width: 113px;
 margin-top: 13px;
}
.speakers .speaker .img-speaker {
  width: 50px;
  height: 50px;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.speakers .speaker .speaker-info {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 5px;
  text-transform: capitalize;
  color: #6c757d
}
.speakers .speaker .job-title {
  
  color: #FC466B;
  text-transform: capitalize;
  text-align: center;
}
.event hr {
  margin-bottom: 0;
}
.event small {
  color: #d7a360
}
.card-text {
  text-align: justify
}
th {
  background: #D7A360;

}

/*============== style for section ===============*/


section {
  min-height: 555px;
  height:calc(100vh - 95px);
  position: relative;
 
}

.layout-map {
  
  width:95%;
  height:100%;
  max-height: 100%;
  max-width: 100%;
  margin-left: 1%;
  margin-top: 50px;
  overflow: hidden;
  color: #000;
  border: 1px solid #ddd;

}
.layout-map .controls {
  position: absolute;
  right: 10px;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly
}
.controls button {
  margin: 10px;
  background: transparent;
  border: none;
  color: #6c757d;
}
.controls button i {
  
  font-size: 25px;
  font-weight: bold;
}
.controls button:focus{
  outline: none;
}

.layout-map #map {
  width: 100%;
 max-width: 100%;
 height: 100%;
}



/*============== style for footer ===============*/
footer {
  width: 100%;
  background: #6c757d;
  z-index: 555;
}
footer .copy-right {
  background: #6c757d;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 15px 0 22px 0;
  text-align: center;
  color: #ffffff;
  font-size: 16px

}
.copy-right a{
  color: #ffff;
  text-transform: capitalize;
}
.copy-right a:hover{
  color: #000;
  text-decoration: none

}

.rest {
  background:#CE6B11 
}
.hall {
  background: #73C5E5
}
.wc{
  background: #F8EC28
}

.other {
  background: #BFBFBF
}
/************ animation css **************/
.animated.infinite {
  -webkit-animation-iteration-count: 4;
  animation-iteration-count: 4;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}
